@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  min-height: 200vh;
}

.outer-container {
  position: relative;
  border: 3px dashed #000;
  width: 75vw;
  height: 85vh;
  margin: 40px auto;
}

.inner-container {
  border: 2px solid #00f;
  width: 40vw;
  height: 50vh;
  margin: 200px auto;
}

.box {
  width: 150px;
  height: 150px;
  color: #fff;
  padding: 1rem;
}

.absolute {
  position: absolute;
  background-color: #00f;
  top: 0;
  left: 0;
}

.relative {
  z-index: 1;
  background-color: #f00;
  position: relative;
  top: 500px;
  left: 100px;
}

.fixed {
  background-color: green;
  position: fixed;
 
}

.sticky {
  background-color: black;
  position: sticky;
  top: 10px;
}


/********************* part 2 *************************/

section {
  height: 100vh;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

header, footer {
  text-align: center;
  color: #fff;
  height: 100px;
  
}

header {
  font-size: 5rem;
  position: sticky;
  top: 0;
}

footer {
  font-size: 3rem;
  background-color: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
}

a:visited {
  color: white;
}

.social {
  background-color: royalblue;
  color: #fff;
  font-size: inherit;
  padding: 1rem;
  position: fixed;
  top: 30%;
  left: 0;
  z-index: 1;
}