
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    margin-bottom: 1em;
}

.container {
    width: 70%;
    min-height: 70vh;
    border: 1px solid black;
    margin: 0 auto;
    padding: 1em;
}

.my-tenants {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.tenant-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px red solid;
    padding: 0.5em;
}

.tenant-item {
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 0.5em;
    border-bottom: 1px solid #ddd;
    height: 3rem;
    padding: 0.25em;
}

.tenant-item div {
    border: 1px solid blue;
}

.tenant-info {
    width: 70%;
}

.tenant-actions {
    width: 30%;
    height: 100%; /* we must set height: 100% on all parent elements of the image in order 
    that the max-height of the image will refer to the height of the line. sucks */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.tenant-actions a {
    height: 100%; /* same reason */
    display: block;
}

.tenant-item img {
    max-height: 100%;
    width: auto;
}

.tenant-info h3 {
    margin: 0;
    font-size: 1.1em;
}
  