
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: beige;
}

main {
    /* toggle this */
    /* height: 600px; */
    width: 95%;
    margin: 80px auto;

    background-color:aqua;

    /* toggle this */
    /* overflow: auto; */
}


section {
    width: 50%;
    border: 1px solid black;
    margin: 5px auto;
}
