
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid black;
    width: 70%;
    min-height: 70vh;
    margin: 0 auto;
}

.box {
    width: 200px;
    height: 200px;
    background-color: green;
    transform: translate(20px, 30px) rotate(20deg);
    transform-origin: top left;
}