
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    min-height: 70vh;
    border: 1px solid black;
    margin: 0 auto;
}

table {
    width: 100%;
    table-layout: fixed;
    border: 1px solid #333;
    border-collapse: collapse;
}

th {
    padding: 1em;
    letter-spacing: 2px;
}

thead th {
    border: 3px solid purple;
    text-shadow: 1px 1px 1px black;
  }

thead th:nth-child(2) {
    width: 10%;
}

thead th:nth-child(1) {
    text-align: left;
}

td {
    height: 3rem;
    padding: 0.5em;
}

td.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}