
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --form-control-color: rebeccapurple;
  }

.container {
    width: 70%;
    min-height: 70vh;
    border: 1px solid black;
    padding: 1rem;
}

.form-control {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;

    display: grid;
    grid-template-columns: 1em auto; 
    gap: 0.5em;
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
    
}

input[type="checkbox"]::before {
    content: "O";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);

    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.form-control + .form-control {
    margin-top: 1em;
  }