
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: white;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    height: 100px;
    border-bottom: 1px solid black;
}

.content {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: 100%;
    overflow: auto;
}

aside {
    width: 200px;
    border-right: 1px solid black;
}

main {
    background-color:aqua;

    position: relative;
}

.category-grid {
    height: 100%;
    align-items: start;
    
    background-color: rgb(25, 179, 76);

    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section {
    width: 50%;
    border: 1px solid black;
    margin: 5px auto;
}

button {
    position: absolute;
    left: 50%;
    bottom: 20px;
}