
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    height: 100%;

    display: flex;
    justify-content: safe center;
    align-items: center;
    flex-direction: column;
}

body {
    height: 95%;
    width: 95%;
    background-color: beige;
    
    display: flex;
    justify-content: safe center;
    align-items: center;
    flex-direction: column;
}

.contents {
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: 100%;
}

aside {
    width: 200px;
    border-right: 1px solid black;
}

main {
    background-color:aqua;

    position: relative;
}

.sections {
    margin: auto;
    width: 95%;
    height: 100%;
    
    background-color: rgb(25, 179, 76);

    overflow: auto;
}

section {
    width: 50%;
    border: 1px solid black;
    margin: 5px auto;
}

button {
    position: absolute;
    left: 50%;
    bottom: 20px;
}