
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: white;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    height: 100px;
    border-bottom: 1px solid black;
}

.content {
    display: grid;
    grid-template-columns: auto 1fr;

    /* this must be set so that  the height of .content will be body - header, and not the height of the content. 
    See  heights-and-overflows/05-grid/03-grid-in-grid  */
    overflow: auto;
}

aside {
    width: 200px;
    border-right: 1px solid black;
}

main {
    background-color:aqua;

    position: relative;

    /* this must be set so that only the main will be scrolled, and not the whole .content */
    overflow: auto;
}

.category-grid {
    /* these must be set so that the scroll container is the .category-grid, and not the main */
    height: 100%;
    overflow: auto;
    
    align-items: start;
    background-color: rgb(25, 179, 76);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section {
    width: 50%;
    border: 1px solid black;
    margin: 5px auto;
}

button {
    position: absolute;
    left: 50%;
    bottom: 20px;
}