
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: beige;
    height: 100%;
}

main {
    background-color:aqua;
    width: 95%;
    height: 95%;
    margin: auto;
}

.sections {
    margin: auto;
    width: 95%;
    height: 95%;
    
    background-color: rgb(25, 179, 76);
    overflow: auto;
}

section {
    width: 50%;
    border: 1px solid black;
    margin: 5px auto;
}
