@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

p {
  background-color: lightgray;
}
/* 
.opposite {
  display: inline-block;
  margin-top: 50px;
  background-color: #333;
  color: whitesmoke;
  padding: 4rem;
} */

ul {
  list-style-type: none;
  padding-left: 0;
  text-align: right;
  margin: 0;
  background-color: #333;
}

li {
  display: inline-block;
  margin-inline: 0.5rem;
}

li a {
  color: #fff;
  text-decoration: none;
}

li a:hover, li a:focus {
  text-decoration: underline;
}