
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: beige;
}

main {
    height: 600px;
    width: 95%;
    margin: 80px auto;

    background-color:aqua;

    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


section {
    width: 50%;
    border: 1px solid black;
    margin: 5px auto;
}
